[Unit]
Conflicts=vsftpd.service
DefaultDependencies=no

[Socket]
ListenStream=<node_ipna_network_ip_address>:21
Accept=yes
MaxConnections=640

[Install]
WantedBy=lde-servicestart.target
