# Compiled source #
###################
*.obj
*.d
*.gcno
*.o

# Packages #
############
*.rpm
*.sdp
*.tar.gz
*.tgz
*.bin
*.exe
*.tar
*.zip
*.jar

# Windows Specific #
####################
*.ccscc
*.dsp
*.dsw
*.vcproj
*.sln
*.pdb
*.vspscc
*.suo
*.vsscc
*.vssscc

# list application binaries
#/conf_cnz
conf_cnz/bin/.debug/apos_cfgd_dbg
conf_cnz/bin/apos_cfgd

#/cmd_cnz
cmd_cnz/date/date_cxc/bin/.debug/apos_date_dbg
cmd_cnz/date/date_cxc/bin/apos_date
cmd_cnz/httpproxy/httpproxy_cxc/bin/httpproxy
cmd_cnz/httpproxy/httpproxy_cxc/bin/.debug/httpproxy_dbg

#/ext_cnz
ext_cnz/ext_cxc/packages/rpm/OSEXTBIN_info.txt
ext_cnz/openssh/openssh_cxc/bin/scp
ext_cnz/openssh/openssh_cxc/bin/sftp
ext_cnz/openssh/openssh_cxc/bin/sftp-server
ext_cnz/openssh/openssh_cxc/bin/ssh
ext_cnz/openssh/openssh_cxc/bin/ssh-add
ext_cnz/openssh/openssh_cxc/bin/ssh-agent
ext_cnz/openssh/openssh_cxc/bin/ssh-keygen
ext_cnz/openssh/openssh_cxc/bin/ssh-keyscan
ext_cnz/openssh/openssh_cxc/bin/ssh-keysign
ext_cnz/openssh/openssh_cxc/bin/ssh-ldap-helper
ext_cnz/openssh/openssh_cxc/bin/ssh-pkcs11-helper
ext_cnz/openssh/openssh_cxc/bin/sshd
ext_cnz/openssh/portable_caa/src/cavstest-ctr
ext_cnz/openssh/portable_caa/src/cavstest-kdf
ext_cnz/openssh/portable_caa/src/libssh.a
ext_cnz/openssh/portable_caa/src/moduli.5.out
ext_cnz/openssh/portable_caa/src/moduli.out
ext_cnz/openssh/portable_caa/src/openbsd-compat/libopenbsd-compat.a
ext_cnz/openssh/portable_caa/src/scp
ext_cnz/openssh/portable_caa/src/scp.1.out
ext_cnz/openssh/portable_caa/src/sftp
ext_cnz/openssh/portable_caa/src/sftp-server
ext_cnz/openssh/portable_caa/src/sftp-server.8.out
ext_cnz/openssh/portable_caa/src/sftp.1.out
ext_cnz/openssh/portable_caa/src/ssh
ext_cnz/openssh/portable_caa/src/ssh-add
ext_cnz/openssh/portable_caa/src/ssh-add.1.out
ext_cnz/openssh/portable_caa/src/ssh-agent
ext_cnz/openssh/portable_caa/src/ssh-agent.1.out
ext_cnz/openssh/portable_caa/src/ssh-keygen
ext_cnz/openssh/portable_caa/src/ssh-keygen.1.out
ext_cnz/openssh/portable_caa/src/ssh-keyscan
ext_cnz/openssh/portable_caa/src/ssh-keyscan.1.out
ext_cnz/openssh/portable_caa/src/ssh-keysign
ext_cnz/openssh/portable_caa/src/ssh-keysign.8.out
ext_cnz/openssh/portable_caa/src/ssh-ldap-helper
ext_cnz/openssh/portable_caa/src/ssh-ldap-helper.8.out
ext_cnz/openssh/portable_caa/src/ssh-ldap.conf.5.out
ext_cnz/openssh/portable_caa/src/ssh-pkcs11-helper
ext_cnz/openssh/portable_caa/src/ssh-pkcs11-helper.8.out
ext_cnz/openssh/portable_caa/src/ssh.1.out
ext_cnz/openssh/portable_caa/src/ssh_config.5.out
ext_cnz/openssh/portable_caa/src/ssh_config.out
ext_cnz/openssh/portable_caa/src/sshd
ext_cnz/openssh/portable_caa/src/sshd.8.out
ext_cnz/openssh/portable_caa/src/sshd_config.5.out
ext_cnz/openssh/portable_caa/src/sshd_config.out
3pp_cnz/tinycore/tinycore_cxc/bin/sinetcc

#/ha_cnz/
ha_cnz/ha_agent_cxc/doc/
ha_cnz/ha_agent_cxc/bin/.debug/apos_ha_rdeagentd_drbd_dbg
ha_cnz/ha_agent_cxc/bin/.debug/apos_ha_rdeagentd_md_dbg
ha_cnz/ha_agent_cxc/bin/apos_ha_rdeagentd_drbd
ha_cnz/ha_agent_cxc/bin/apos_ha_rdeagentd_md
ha_cnz/ha_appdemo/apg_2nred_app1/bin/apos_ha_2napp1d
ha_cnz/ha_appdemo/apg_2nred_app2/bin/apos_ha_2napp2d
ha_cnz/ha_appdemo/apg_2nred_app3/bin/apos_ha_2napp3d
ha_cnz/ha_appdemo/apg_2nred_app4/bin/apos_ha_2napp4d
ha_cnz/ha_appdemo/apg_2nred_app5/bin/apos_ha_2napp5d
ha_cnz/ha_appdemo/apg_nored_app3/bin/apos_ha_noredappd
ha_cnz/ha_appdemo/simap_agent/ha_fagent_cxc/bin/apos_ha_rdeagentd
ha_cnz/ha_appdemo/simap_devmon/ha_fdevmon_cxc/bin/.debug/apos_ha_devmond_dbg
ha_cnz/ha_appdemo/simap_devmon/ha_fdevmon_cxc/bin/apos_ha_devmond
ha_cnz/ha_devmon_cxc/doc/
ha_cnz/ha_devmon_cxc/bin/.debug/apos_ha_devmond_md_dbg
ha_cnz/ha_devmon_cxc/bin/.debug/apos_ha_devmond_drbd_dbg
ha_cnz/ha_devmon_cxc/bin/apos_ha_devmond_drbd
ha_cnz/ha_devmon_cxc/bin/apos_ha_devmond_md

# files to be included
!cmd_cnz/import_factoryparm/import_factoryparm/non_exec-parmtool.tgz
!conf_cnz/deploy/cluster/hooks/TARGZME+644+after-booting-from-disk.tar.gz
!conf_cnz/deploy/cluster/hooks/TARGZME+644+post-installation.tar.gz
!conf_cnz/deploy/cluster/hooks/TARGZME+644+pre-installation.tar.gz
!conf_cnz/deploy/cluster/hooks/TARGZME+644+pre-installation.tar.gz/TARGZME+444+non_exec-ipmiconf.tar.gz
!conf_cnz/deploy/cluster/hooks/TARGZME+444+non_exec-ipmiconf.tar.gz
!cmd_cnz/import_factoryparm/import_factoryparm/non_exec-parmtool.tgz
!conf_cnz/deploy/cluster/hooks/TARGZME+644+post-installation.tar.gz/TARGZME+444+non_exec-raidmgr.tgz
!conf_cnz/deploy/cluster/hooks/TARGZME+644+post-installation.tar.gz/TARGZME+444+non_exec-dd_detector.tgz
!conf_cnz/deploy/cluster/hooks/TARGZME+444+non_exec-dd_detector.tgz
!conf_cnz/deploy/cluster/hooks/TARGZME+444+non_exec-raidmgr.tgz
!mi_cnz/esm/native/hooks/ah/non_exec-raidmgr.tgz
!mi_cnz/esm/native/hooks/ah/non_exec-udev.tgz
!mi_cnz/esm/native/hooks/ph/non_exec-ic.tgz
!mi_cnz/esm/virtual/vmware/apg_dump/apos_getinfo.tgz
!mi_cnz/esm/virtual/vmware/out/APG_DUMP.tgz
!conf_cnz/deploy/etc/audit/rules.d/901-apg-users.rules
!conf_cnz/deploy/etc/pam.d
!conf_cnz/deploy/etc/sudoers.d
!conf_cnz/deploy/etc/systemd/system/dhcpd.service.d
!conf_cnz/deploy/etc/systemd/system/lde-sshd@sshd_config_22.service.d
!conf_cnz/deploy/etc/systemd/system/lde-sshd@sshd_config_4422.service.d
!conf_cnz/deploy/etc/systemd/system/lde-sshd@sshd_config_830.service.d
!conf_cnz/deploy/etc/systemd/system/lde-sshd@sshd_config_mssd.service.d
